/*******************TAG SELECTORS***********************/

body {
  background-color: #BBBFCA;
}

img:hover {
  background-color: gold;
  height: 175px;
}

/*
Come on
*/
h1 {
  color: red;
  font-size: 100px;
}

/**********************CLASS SELECTORS*****************/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/**********************ID SELECTORS******************/

#heading {
  color: blue;
}

#big {
  font-size: 1000px;
}
